* {
    box-sizing: border-box;
}

form    {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* form label  {

} */

form label  {
    
}
form > div  {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }